* {
    margin: 0;
    font-family: 'Open Sans';
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 400px 4fr;
}

.header {
    background-color: white;
    display: grid;
    grid-column: 2 / 3;
    grid-template: repeat(2, 1fr) / 2fr 1fr;
}

.search {
    background-color: white;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center start;
    padding-right: 50px;
    padding-left: 70px;
}

.search-bar {
    width: 100%;
}

.search-bar img {
    padding-right: 20px;
}

.search-bar input {
    width: 80%;
    background-color: #e3ddeb;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

::placeholder {
    color: white;
}

.pfp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

#bell {
    width: 30px;
}

.pfp > p {
    font-size: 1.3rem;
    font-weight: 700;
}

.pfp-img {
    width: 60px;
}

.intro {
    padding-right: 50px;
    padding-left: 70px;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-column: 1 / 3;
}

.icon-name {
    place-self: center start;
    display: flex;
    place-items: center;
    gap: 25px;
    padding-bottom: 10px;
}

.pfp-img2 {
    width: 80px;
}

.pfp-text {
    font-weight: bold;
}


.pfp-text #name {
    font-size: 1.6rem;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    place-self: center end;
}

button {
    padding: 10px 25px;
    font-weight: 700;
    color: white;
    background-color: #a06ee1;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: white;
    border: 2px solid #a06ee1;
    color: #a06ee1;
}


.sidebar {
    background-color: #a06ee1;
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 30px 80px 30px 30px;
    grid-template-columns: 80px 150px;
    grid-template-rows: 150px repeat(6,50px) 50px repeat(3, 50px);
    place-items: center start;
    column-gap: 20px;
}

.sidebar p {
    font-weight: 700;
    font-size: 1.7rem;
    color: white;
}

.sidebar img {
    place-self: center;
    width: 30px;
}

#dsh {
    width: 70px;
}

#dash {
    font-size: 2rem;
}

.sett {
}

.main-content {
    background-color: #e3ddeb;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px 30px 64px 20px;
}

.m-title {
    font-size: 1.4rem;
    font-weight: 600;
}

.projects {
    grid-row: span 2;
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 15px;
    padding-right: 24px;
}

.mcards {
    display: grid;
    grid-template: repeat(3,1fr) / repeat(2,1fr);
    gap: 24px;
}

.card {
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 10px 1fr ;
    column-gap: 10px ;
    box-shadow: 2px 2px 5px  #b0bed0;
}

.line  {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #a1f2c7;
    grid-row: 1/3;
}

.content {
    padding-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    place-self: start;
}

.ctitle {
    font-weight: 600;
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.cpara {
    color: grey;
    font-size: 1rem;
}

.card-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    place-self: end;
    padding-bottom: 15px;
    padding-right: 15px;
}

.card-icons img {
    width: 30px;
}

.announce {
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 15px;
}

.announcements {
    background-color: white;
    border-radius: 10px;
    display: grid;
    place-items: center;
    row-gap: 5px;
    padding: 30px;
    box-shadow: 2px 2px 5px  #b0bed0;
}

.atitle {
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 5px;
}

.apara {
    font-size: 0.9rem;
    color: grey;
}

hr {
    margin-top: 25px;
}

.trends {
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 15px;
    padding-top: 20px;
}

.trending {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr 2fr;
    align-items: center;
    row-gap: 30px;
    box-shadow: 2px 2px 5px  #b0bed0;
}

.t-pfp {
    width: 60px;
}

.user {
    font-weight: 500;
}

.abt {
    color: grey;
}
